<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>
		Notification
	</title>

		<link rel="stylesheet" type="text/css" href="{% static 'css/notification.css' %}">
</head>
<body>
    <div class="note">
        <div class="note-box">
            <h2>Notification</h2>
        </div>
    </div>
    <div>
        <div class="note-box1">
            <marquee behavior="scroll" direction="right">Notification</marquee>
        </div>
    </div>
    <div>
        <div class="note-box2">
            <marquee behavior="scroll" direction="right">Notification</marquee>
        </div>
    </div>
    <div>
        <div class="note-box3">
            <marquee behavior="scroll" direction="right">Notification</marquee>
        </div>
    </div>
    <div>
        <div class="note-box4">
            <marquee behavior="scroll" direction="right">Notification</marquee>
        </div>
    </div>



</body>
</html>