<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>
		FAQ's
	</title>

		<link rel="stylesheet" type="text/css" href="{% static 'css/FAQs.css' %}">
</head>
<body>
    <div class="note">
        <div class="note-box">
            <h2>FAQ's</h2>
        </div>
    </div>
    <div>
        <div class="note-box1">
            <details>
                <summary>How to Register?</summary>
                <p class="text">First go to home page click on register button. then fill the information and submit.</p>
            </details>
        </div>
    </div>
    <div>
        <div class="note-box2">
            <details>
                <summary>How to search workers ?</summary>
                <p class="text">First go to Dashboard click on search bar on upper right. then search.</p>
            </details>
        </div>
    </div>
    <div>
        <div class="note-box3">
            <details>
                <summary>How to log out?</summary>
                <p class="text">First go to Dashboard click on logout. then click you will be on the home page.</p>
            </details>
        </div>
    </div>
    </body>
</html>