<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>
		history
	</title>

		<link rel="stylesheet" type="text/css" href="{% static 'css/history.css' %}">
</head>
<body>
    <div class="his">
        <div class="his-box">
            <h2>History</h2>
        </div>
    </div>
    <div>
        <div class="his-box1">
            <p>History</p>
        </div>
    </div>
    <div>
        <div class="his-box2">
            <p>History<p>
        </div>
    </div>
    <div>
        <div class="his-box3">
            <p>History</p>
        </div>
    </div>
    <div>
        <div class="his-box4">
            <p>History</p>
        </div>
    </div>
</body>
</html>