<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/worker-style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Worker</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body style="position: absolute width=100% height=100%">
    <div class="background-img row">
        <input type="checkbox" id="check">
        <label for="check">
            <i class="fas fa-bars" id="btn"></i>
            <i class="fas fa-times" id="cancel"></i>
        </label>
        <div class="sidebar">
            <header>My Dashboard</header>
            <ul>
                <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> PROFILE</a></li>
                <li><a href="/notification"><i class="fa fa-bell" aria-hidden="true"></i>NOTIFICATION</a></li>
                <li><a href="/history"><i class="fa fa-history" aria-hidden="true"></i>HISTORY</a></li>
                <li><a href="#"><i class="fa fa-info-circle" aria-hidden="true"></i>HELP</a></li>
                <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>LOGOUT</a></li>
            </ul>
        </div>
        <section></section>
        <div class="profile-box">
            <div class="form-box">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="{% static 'Images/avatar1.jpg' %}" class="center">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="profile-btn">
                            <div class="file btn btn-lg btn-primary">
                                Change Photo
                                <input type="file" name="file"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="=info">
                    <form id="profile">
                        <div class="row">
                            <div class="ask">
                                <label>NAME </label>
                                <label type="text" class="info-field inside"  required><pre>   </pre>{{ worker.name }}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="info-text">
                                <label>ADDRESS </label>
                                <label type="text" class="info-field inside"  required><pre>   </pre>{{ worker.address }}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="info-text">
                                <label>EMAIL </label>
                                <label type="text" class="info-field inside"  required><pre>   </pre>{{ worker.email }}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="info-text">
                                <label>MOBILE </label>
                               <label type="text" class="info-field inside"  required><pre>   </pre>{{ worker.phone }}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="info-text">
                                <label>SKILL</label>
                                <label type="text" class="info-field inside"  required><pre>   </pre>{{ worker.skills }}</label>
                            </div>
                        </div>
                     </form>
                </div>
            </div>
        </div>
    </div>  
</body>
</html>